<% layout("../layout/plate.ejs") %>


<body>
  <div class="video-container">
    <% for (video of data) { %>
    <div class="video-card">
      <a href="/video/<%= video._id %>/show">
        <div class="thumbnail">
          <img
            src="<%= video.video.thumbnailUrl %>"
            alt="<%= video.video.filename %>"
            loading="lazy"
          />
        </div>
        <div class="video-details">
          <h3 class="video-title"><%= video.title %></h3>
          <p class="video-description"><%= video.description %></p>
        </div>
      </a>
    </div>
    <% } %>
  </div>

  <!-- Pagination -->
  <div class="paginations">
    <% for (let i = 1; i <= totalPages; i++) { %>
    <a
      href="/?page=<%= i %>"
      class="page-btns <%= i === currentPage ? 'active' : '' %>"
    >
      <%= i %>
    </a>
    <% } %>
  </div>
</body>
