<%layout("../layout/plate.ejs")%>
<body>
  <div class="container">
    <% for ( data of data) { %>
    <div class="card">
      <a href="/video/<%=data._id%>/show">
        <div class="thumbnail">
          <img
            src="<%= data.video.thumbnailUrl %>"
            alt="<%= data.video.filename %>"
          />
        </div>
        <div class="video-player">
          <video controls>
            <source src="<%= data.video.url %>" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="card-info">
          <p><%=data.title%></p>
          <p><%= data.description %></p>
        </div>
      </a>
    </div>

    <% } %>
    <!-- // next prev -->
     <div class="pagination">

       <%if(currentPage>1) {%>
        <a href="/?page=<%=currentPage-1%>"><span><i class="fa-solid fa-arrow-left"></i></span></a>
        <%}%>
        <%if(currentPage<totalPages) {%>
          <a href="/?page=<%=currentPage+1%>"><span><i class="fa-solid fa-arrow-right"></i></span></a>
          <%}%>
        </div>

  </div>
</body>
