<%layout("../layout/plate.ejs")%>

<h2 class="prompt">Search Results for "<%= searchQuery %>"</h2>

<% if (results.length === 0) { %>
<h2 class="resultiszero">No videos found.</h2>
<% } else { %>
    <div class="container">
  <% results.forEach(data => { %>

    <div class="card">
      <a href="/video/<%=data._id%>/show">
        <div class="thumbnail">
          <img
            src="<%= data.video.thumbnailUrl %>"
            alt="<%= data.video.filename %>"
          />
        </div>
        <div class="video-player">
          <video controls>
            <source src="<%= data.video.url %>" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="card-info">
          <p><%=data.title%></p>
          <p><%= data.description %></p>
        </div>
      </a>
    </div>
    <% }) %>
    <%}%>
</div>
</div>
